<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SG6H6JE03"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  // Default ad_storage to 'denied'.
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'analytics_storage': 'denied'
  });

  gtag('js', new Date());

  gtag('config', 'G-3SG6H6JE03');
</script>

<script>
  function consentGranted() {
    gtag('consent', 'update', {
      'analytics_storage': 'granted'
    });
  }
</script>
