/*
  Styles for Tab Tags
*/

.tag {
  border: 1px solid var(--tag-border) !important;
  border-radius: 0.7em;
  box-shadow: 0 0 3px 0 var(--tag-shadow);
  letter-spacing: 0;
  line-height: 3rem;
  margin-right: 0.8rem;
  padding: 6px 8px 7px;

  span {
    font-family: 'Oswald', sans-serif;
    font-size: 0.7em;
    margin-left: 0.6em;
  }
}
